:root {
    --primary-color: #008585;
    --secondary-color: #74a892;
    --accent1-color: #fbf2c4;
    --accent2-color: #e5c185;
    --accent3-color: #c7522a;
    --heading-font: "Oswald", sans-serif;
    --body-font: "Open Sans", sans-serif;
}


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-style: normal;
    color: #333;
}

nav,
p,
section,
article {
    margin: 1rem;
    padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font)
}

nav a,
.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1,
.hero article {
    position: absolute;
}

.hero h1 {
    top: 1.1rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.75;
    font-size: 3rem;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article {
    bottom: -55px;
    width: 75%;
    right: 0;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero img {
    width: 100vw;
    height: auto;
}



.hero article img {
    width: 125px;
    float: right;
}