:root {
    --primary-color: darkblue;
    --accent-color: #000;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: #fff;
}

main {
    max-width: 50vw;
    width: 50vw;
}

aside {
    width: 25vw;
    margin: 1rem;
    border: 1px solid var(--accent-color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--accent-color);
    padding: 2px;
    box-shadow: 0 0 30px grey ;
}

aside img {
    width: 200px;
    height: auto;
}



p {
    padding: 0;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid var(--accent-color);
    text-align: center;
}