/* Blue color palette
light
#d1dbe4,
#a3b7ca,
#7593af,
#476f95
#194a7a
dark

forest breeze colors
 #f1ddbf, - tan
 #525e75, - dark blue
 #78938a  - gray green
 #92ba92. - lighterish green

*/

:root {
    --primary-color: #525e75;
    --light-color: #d1dbe4;
    --border-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--primary-color);
}

main {
    grid-column: 2/3;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin-left: 1em;
}

aside {
    position: relative;
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
    
}

aside h2 {
    position: absolute;
    color: #fff;
    top: 1em;
    left: 1em;
}

aside img {
    width: 100%;
    height: auto;
    
}



p {
    padding: 0;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid var(--border-color);
    text-align: center;
    clear: both;
}


/* Class Selectors */

.grid {
    display: grid;
    justify-content: center;
}



.box {
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--light-color);
    color: #333;
}

.box li {
    margin-left: 10px;
}

.clear {
    clear: both;
}