:root {
    --primary-color: darkblue;
    --accent-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
    color: #fff;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

main {
    max-width: 50vw;
    width: 50vw;
    margin-left: 12.5vw;
    float: left;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--accent-color);
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin-left: 1em;
}

aside {
    position: relative;
    max-width: 25vw;
    width: fit-content;
    float: right;
}

aside h2 {
    position: absolute;
    color: #fff;
    top: 1em;
    left: 1em;
}

aside img {
    max-width: 100%;
    height: auto;
    
}



p {
    padding: 0;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid var(--accent-color);
    text-align: center;
    clear: both;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--accent-color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.clear {
    clear: both;
}