header, footer {
    background-color: black;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 1.25rem;
}

header p, footer p {
    margin: 0;
}

main {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

main img {
    width: 100%;
    box-shadow: 10px 5px 30px black;
}

main section {
    background-color: #bdbdbd;
    padding: 1em;
    margin: 10px 0;
    text-align: left;
}

section h2 {
    font-size: 1.25rem;
    border-bottom: 2px solid black;
    padding-bottom: 0.25em;
}


